@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@function size($minpx, $max, $min) {  
    @return calc(#{$minpx} + (#{$max} - #{$min}) * ((100vw - 300px) / (1600 - 300))); 
   }
.container{
    width: calc(100% - 264px);
    display: flex;
    margin:auto;
}
.section {
    color: #ffff;
    background-image: url('../../assets/pope.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    .section__header {
        display: flex;
        width: calc(100% - 264px);
        margin:auto;
        justify-content: space-between;
        height: 70px;
        align-items: center;
        flex-flow:row wrap;
        .section__logo {
            p {
                font-size: size(12px, 42, 12);
                
            }
        }
        .section__list ul li  {
            font-weight: 300;
            display: inline;
            font-size: size(12px, 21, 12);
            margin-right: 50px;
            &:first-child {
                margin-right: 55px;
            }
            
        }
    }
   .section__container {
    width: calc(100% - 264px);
    display: flex;
    margin:auto;
    margin-top: 100px;
       .section__container--opinion {
        background-color:rgba(96, 92, 92, 0.3);
        backdrop-filter: blur(10px);  
        -webkit-backdrop-filter: blur(10px);
        width: size(170px, 495, 170); 
        // calc(170px + (495 - 170) * ((100vw - 300px) / (1600 - 300)));
        margin-bottom: 70px;
        .section-text-wrapper {
            height: size(118px, 370, 125);  
            // calc(100px + (370 - 100) * ((100vw - 300px) / (1600 - 300)));
            padding-left: size(10px, 35, 10);
            // calc(10px + (35 - 10) * ((100vw - 300px) / (1600 - 300)));
            padding-right: size(15px, 75, 15);
            // calc(15px + (75 - 15) * ((100vw - 300px) / (1600 - 300)));
            .section__text--opinion{
                font-size: size(10px, 15, 10);
                // calc(10px + (15 - 10) * ((100vw - 300px) / (1600 - 300)));
                margin-top: size(15px, 40, 15);
                // calc(15px + (40 - 15) * ((100vw - 300px) / (1600 - 300)));
                margin-bottom: 10px;
                font-weight: 300;
            }
            .section__text--pope {
                font-size: size(12px, 45, 12);
                // calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
                margin-top: 0px;
                margin-bottom: size(10px, 35, 10);
                // calc(10px + (35 - 10) * ((100vw - 300px) / (1600 - 300)));
            }
            .section__text--talking {
                font-size: size(6px, 18, 6);
                // calc(6px + (18 - 6) * ((100vw - 300px) / (1600 - 300)));
                margin-top: 0px;
                margin-bottom: size(10px, 25, 10);
                // calc(10px + (25 - 10) * ((100vw - 300px) / (1600 - 300)));
                font-weight: 300;
            }
            .section__text--info {
                font-weight: 300;
                font-size: size(10px, 14, 10);
                // calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
                margin-top: 0px;
                margin-bottom: size(10px, 45, 10);
                // calc(10px + (45 - 10) * ((100vw - 300px) / (1600 - 300)));
            }
            .section__text--veredict {
                margin-top: 0px;
                margin-bottom: size(10px, 35, 10);
                // calc(10px + (35 - 10) * ((100vw - 300px) / (1600 - 300)));
                font-size: size(12px, 18, 12);
                // calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
            }

        }
        .section__pope-thums {
            height: size(20px, 80, 20);
            display: flex;
            span {
                width: 50%;
                i {font-size: 45px;}
                &.section__pope-thums--up {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    opacity: 0.8;
                    background-color: #28b7b0;
                    i.fa.fa-thumbs-up {
                        font-size: size(12px, 45, 12);
                    }
    
                }
                &.section__pope-thums--down {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    opacity: 0.8;
                    background-color: #feb432;
                    i.fa.fa-thumbs-down {
                        font-size: size(12px, 45, 12);
                    }
                }
            }
        }
       }
   }
   .section__closing {
    height: size(20px, 50, 20);
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: rgba(147, 134, 122, .3);
    .section__closing--in {
        width: 40%;
        height: size(20px, 50, 20);
        background-color: rgba(147, 134, 122, .3);
        p {
            margin-right: 10px;
            font-size: size(10px, 13, 10);
            text-align: right;
            line-height: 25px;
        }
        /* background-color: #93867a;
        opacity: 0.3; */
    }
    .arrow-left {
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid rgba(147, 134, 122, .4);
        position: absolute;
        left: 40%
    }
    .section__closing--days {
        color: #464646;
        width: 60%;
        font-size:  size(12px, 36, 12);
        background-color: rgba(255, 255, 255, .7);
        height: size(20px, 50, 20);
        .text-space {
            margin-left: 20px;
            margin-right: 15px;
        }
        .text-light {
            font-weight: 300;
        }
    }
}

}

@media screen and (max-width: 768px) {
.section {
	.section__header {
        height: 40px;
        width: calc(100% - 20px);
        justify-content: space-around;
        .section__list ul {
            padding: 0px;
            li  {
                padding: 0px;
                margin: 0px;
                &:first-child {
                    margin-right: 10px;
                }
                margin-right: 10px;
            }

        } 
	}
    .section__container {
        margin-top: 30px;
        width: calc(100% - 150px);
      
       }
   }
   .section__closing--days  {
    line-height: 20px;
}
}

/* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .section {
        .section__header {
            width: calc(100% - 20px);
            justify-content: unset;
            flex-direction: column;
            .section__logo {
                p {  
                    margin: 0px;
                }
            }
            .section__list ul {
                padding: 0px;
                margin: 0px;
                font-weight: 300;
                li  {
                    font-weight: 300;
                    padding: 0px;
                    margin: 0px;
                    &:first-child {
                        margin-right: 10px;
                    }
                    margin-right: 10px;
                }
            } 
        }
        .section__container {
            margin-top: 0px;
            width: calc(100% - 145px);
            .section__container--opinion {
                margin: auto;
            }
          
           }  
        }
        .section__closing--in {
            p {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    .section__closing--days  {
        line-height: 20px;
    }
     }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    .section__closing--in {
        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }