<section class="section">
    <header class="section__header">
        <div class="section__logo">
           <p>
               Rule of Thumb
           </p> 
        </div>
        <div class="section__list">
            <ul>
                <li>Past Trials</li>
                <li>How it works</li>
                <li>Login/Sing Up</li>
                <li class="fa fa-search"></li>
            </ul>
        </div>
    </header>
    <div class="section__container">
        <div class="section__container--opinion">
            <div class="section-text-wrapper">
            <p class="section__text--opinion">What’s your opinion on</p>
            <p class="section__text--pope">Pope Francis?</p>
            <p class="section__text--talking">He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up) </p>
            <p class="section__text--info">More information</p>
            <p class="section__text--veredict">What’s Your Verdict?</p>
          </div>
          <div class="section__pope-thums">
              <span class="section__pope-thums--up"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> </span>
              <span class="section__pope-thums--down">  <i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
          </div>
        </div>
    </div>
    <div class="section__closing">
        <div class="section__closing--in">
            <p>CLOSING IN</p>
        </div>
        <div class="arrow-left"></div>
        <div class="section__closing--days">
           <span class="text-space">22</span>
           <span class="text-light">days</span>
            
        </div>
    </div>
</section>

