@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@function size($minpx, $max, $min) {  
    @return calc(#{$minpx} + (#{$max} - #{$min}) * ((100vw - 300px) / (1600 - 300))); 
   }
section {
    p {
        margin: 0px;
    }
    .rulings-section__container {
        color: #333333;
        width: calc(100% - 264px);
        margin:auto;
        margin-top: 35px;
        .text-votes {
            font-size: 40px;
            font-weight: 300;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    .rulings-section__counted {
        background-color: #ebebeb;
        display: flex;
        padding: 25px;
        justify-content: center;
        align-items: center;
        .rulings-section__text-speak {
            font-size: size(12px, 21, 12);
            width: 37%;
            font-weight: 300;
            span {
                font-size: size(12px, 37, 14);
                font-weight: normal;
            }
        }
        .rulings-section__text-long {
            font-size: 15px;
            font-weight: 300;
        }
    }
    .grid { 
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 40px;
        align-items: stretch;
        margin-bottom: 40px;
        }
      .grid > article {
        transition: all 200ms ease-in-out;
        cursor: pointer;
        position: relative;
        div.grid__personality--wrapper{
            color: #ffff;
            display: flex;
            background-repeat: no-repeat;
            height: 547px;
        .grid__personality--bottom {
            margin-top: auto;
            .grid__personality--thumb {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                p {
                    width: 360px;
                    font-size: 43px;
                }
                div {
                    display: flex;
                    background-color: #1cbbb4;
                    height: 35px;
                    width: 35px;
                    margin-right: 10px;
                    i {
                        margin: auto;
                    }
                }
              
            }   
            p.grid__text {
                font-size: 16px;
                margin-left: 45px;
                margin-right: 90px;
                margin-bottom: 25px;
                font-weight: 300;
            }
            .grid__report {
                display: flex;
                margin-left: 45px;
                margin-right: 20px;
                margin-bottom: 30px;
                button {
                    cursor: pointer;
                    background-color: transparent;
                    color: #ffff;
                     width: 162px;
                     outline: none;
                     margin-right: 10px;
                     &.grid__report--up {
                        width: 35px;
                        height: 35px;
                        background-color: #1cbbb4;
                     }
                     &.grid__report--down {
                        width: 35px;
                        height: 35px;
                        background-color: #ffad1d;
                     }
                     &.grid__report--vote{

                     }
                }
                p {
                    font-size: 12px;
                }
            } 
            .grid__votes {
                display: flex;
                font-size: 29px;
                font-weight: 300;
                .grid__votes--up {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color:rgba(28,187,187,0.7);
                    span {
                        margin-left: 10px;
                    }
                }
                .grid__votes--down {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color:rgba(255,173,29,0.7);
                    display: flex;
                    span {
                        margin-left: auto;
                        margin-right: 10px;
                    }
                }
            }
        }
       
        }
       
      }
      .grid > article img {
        max-width: 100%;
      }
    }
}
@media screen and (max-width: 768px) {
   section .rulings-section__container {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        .grid {
            grid-template-columns: fit-content(480px);
            justify-content: center;

        }
      
    }
    }
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    section .rulings-section__container {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        .grid {
            grid-template-columns: fit-content(100px);
            justify-content: center;
        }
      
    }
     }