@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
section {
    p {
        margin: 0px;
    }
    .rulings-section__container {
        color: #333333;
        width: calc(100% - 264px);
        margin:auto;
        margin-top: 35px;
    .rulings-section__counted {
        background-color: #ebebeb;
        display: flex;
        padding: 25px;
        justify-content: center;
        align-items: center;
        .rulings-section__text-speak {
            font-size: 21px;
            width: 37%;
            span {
                font-size: 37px;
            }
        }
        .rulings-section__text-long {
            font-size: 15px;
        }
    }
    .grid { 
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 20px;
        align-items: stretch;
        margin-top: 50px;
        margin-bottom: 40px;
       
        }
      .grid > article {
        border: 2px solid #ccc;
        background: #F2F2F2;
        transition: all 200ms ease-in-out;
        box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
        cursor: pointer;
        position: relative;
        div.grid__personality--wrapper{
            color: #ffff;
            display: flex;
            
            height: 547px;
        .grid__personality--bottom {
            margin-top: auto;
            .grid__personality--thumb {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                p {
                    font-size: 45px;
                }
                div {
                    display: flex;
                    background-color: #1cbbb4;
                    height: 35px;
                    width: 35px;
                    margin-right: 10px;
                    i {
                        margin: auto;
                    }
                }
              
            }   
            p.grid__text {
                font-size: 16px;
                margin-left: 45px;
                margin-right: 90px;
                margin-bottom: 25px;
            }
            .grid__report {
                display: flex;
                margin-left: 45px;
                margin-right: 20px;
                margin-bottom: 30px;
                button {
                    cursor: pointer;
                    background-color: transparent;
                    color: #ffff;
                     width: 162px;
                     outline: none;
                     margin-right: 10px;
                     &.grid__report--up {
                        width: 35px;
                        height: 35px;
                        background-color: #309e99;
                     }
                     &.grid__report--down {
                        width: 35px;
                        height: 35px;
                        background-color: #cf952f;
                     }
                     &.grid__report--vote{

                     }
                }
                p {
                    font-size: 12px;
                }
            } 
            .grid__votes {
                display: flex;
                .grid__votes--up {
                    background-color: #309e99;
                }
                .grid__votes--down {
                    background-color: #cf952f;
                }
            }
        }
       
        }
       
      }
      .grid > article img {
        max-width: 100%;
      }
    }
}
