<section class="rulings-section">
    <div class="rulings-section__container">
        <div class="rulings-section__counted">
            <p class="rulings-section__text-speak">
                Speak out. Be heard.<br> 
                <span>Be counted. </span>
            </p>
            <p class="rulings-section__text-long">
                Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.
            </p>
            <i class="fa fa-times">
            </i>
            
      </div>
      <p class="text-votes">
       Votes
      </p>
      <main class="grid">
        <article *ngFor="let personality of personalities; let i = index">
            <div class="grid__personality--wrapper" [ngStyle]="{'background-image': 'url(' + personality.img + ')'}">
                <div class="grid__personality--bottom">
                    <div class="grid__personality--thumb">
                        <div>
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                        <p>{{personality.name}} </p>
                    </div>
                    <p class="grid__text">
                        Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.
                    </p>
                    <div class="grid__report">
                        <button (click)="onClickVoteup(i)"  class="grid__report--up">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </button>
                        <button (click)="onClickVotedown(i)" class="grid__report--down">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        </button>
                        <button class="grid__report--vote">Vote Now</button>
                    </div>
                    <div class="grid__votes">
                        <div [ngStyle]="{'width': personality.percentageUp+'%'}" class="grid__votes--up">
                            <span>
                             <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                            {{personality.percentageUp |  number:'1.0-0'}} %
                            </span>                          
                        </div>
                        <div [ngStyle]="{'width': personality.percentageDown+'%'}" class="grid__votes--down">
                          <span>
                            {{personality.percentageDown |  number:'1.0-0'}} %
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                          </span>  
                        </div>
                    </div>
                </div>
            </div>
        </article>
       
      </main>
    </div>
</section>
