<section class="section-footer__container">
    <div class="section-footer--submit">
        <p>Is there anyone else you would want us to add?</p>
        <button>
            Submit a Name
        </button>
    </div>

</section>
<section  class="section-footer__container social-media">
        <div class="section-footer--icons--text">
            <span>Terms and Conditions</span>
            <span>Privacy Policy </span>
            <span>Contact Us</span>
        </div>
        <div class="section-footer--icons--icons ">
            <span>Follow Us</span>
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter"></i>
        </div>

</section>
